<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>A Shariff Production - Home</title>
        <meta name="description" content="Shoabe Shariff">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="/PersonalWeb/favicon_s.ico" />
        <link rel="stylesheet" href="/PersonalWeb/css/normalize.css">
        <link rel="stylesheet" href="/PersonalWeb/css/main.css">
        <script src="/PersonalWeb/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div id="page" class="homeContainer">
        	<header id="head" role="banner">
        		<div class="head-inner">
        			<hgroup id="logohead">
        				<h1 id="site-title">
        					<a href="/PersonalWeb/index.html" title="A Shariff Production" rel="home">Shoabe Shariff</a>
        				</h1>
        			</hgroup>
        			<nav id="access" role="navigation">
        				<div class="primary-nav-menu-container">
        					<ul id="menu-primary-nav">
        						<li id="menu-item">
        							<a href="/PersonalWeb/about.html" style=>About Me</a>
        						</li>
        						<li id="menu-item">
        							<a href="#">R&#233;sum&#233;</a>
        							<ul>
							            <li><a href="/PersonalWeb/work/ibm.html">IBM Canada</a></li>
							            <li><a href="/PersonalWeb/work/glooko.html">Glooko</a></li>
							            <li><a href="/PersonalWeb/work/xtremelabs.html">Xtreme Labs</a></li>
							        </ul>
        						</li>
        						<li id="menu-item">
        							<a href="/PersonalWeb/portfolio.html">Portfolio</a>
        						</li>
        						<li id="menu-item">
        							<a href="/PersonalWeb/contact.html">Contact</a>
        						</li>
        					</ul>
        				</div>
        			</nav>
        		</div>
        	</header>
        	
        	<div id="main">
        		<section id="home-intro" class="clearfix" style="background-image: url('/PersonalWeb/img/ibm_hallway.png')">
	        		<div class="home-intro-content">
	        			<div id="home-frames" class="clearfix">
	        				<div id="home-dialog-frame">
	        					<div class="home-dialog-content">
	        						<div class="home-dialog-content" id="heading">Shoabe Shariff</div>
	        						<div class="home-dialog-content" id="subhead">Entrepreneur.&nbsp; Tech-Enthusiast.&nbsp; Developer.&nbsp; Student.</div>
	        					</div>
	        					
		        				<nav id="social-access" role="navigation">
			        				<div class="social-media-list-container">
			        					<ul id="social-media-list">
			        						<li id="media-item-fb">
			        							<a href="http://on.fb.me/1aP4P3D" target="_blank">Click Me</a>
			        						</li>
			        						<li id="media-item-linkedin">
			        							<a href="http://linkd.in/13cL3xp" target="_blank">Click Me</a>
			        						</li>
			        						<li id="media-item-twitter">
			        							<a href="http://bit.ly/13cL4Bv" target="_blank">Click Me</a>
			        						</li>
			        						<li id="media-item-github">
			        							<a href="http://bit.ly/13lz4Jk" target="_blank">Click Me</a>
			        						</li>
			        					</ul>
		        					</div>
	        					</nav>
	        				</div>
	        			</div>
	        		</div>
        		</section>
        			
    		</div>
    	</div>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/PersonalWeb/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="/PersonalWeb/js/plugins.js"></script>
        <script src="/PersonalWeb/js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
