<div id="main">
	<div class="main-content">
	    <div class='main-banner'>
	    	<%= image_tag('/images/ubs_logo_bw_v03_wcaption_624x298.png')%>
	    </div>
	    
	    <%= form_tag({action: "find"}, {:class => "home-search"}) do %>
	        <%= text_field_tag :isbn, nil, placeholder: 'Enter an ISBN Here', size: 94 %>
	        <%= submit_tag("Search") %>
	    <% end %>
	    
	</div>
</div>

