<div id="main">
	<div class="main-content">
	    <h1>Welcome to UBookShare!</h1>
	    <p>Find me in app/views/bookfinder/index.html.erb</p>
	    
	    <p>This is where the introduction of the site goes and there should also be a header with all the tabs
	    	Should be able to easily navigate from page to page, maybe even search for a book right here with
	    	a search bar or something like they do on GoDaddy or Kijiji.</p>
	</div>
</div>

